* {
    box-sizing: border-box;
}

body {
    background-image: url("../pictures/coffee_image.jpg");
    background-repeat: no-repeat;
}

.coffee-menu, .sides-menu, .main-menu, .contact, .init-div, .about-div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
}

nav {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 25%;
}

nav button {
    padding: 15px;
    font-size: 1.5rem;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: green;
    color: white;
}

button:hover {
    background-color: greenyellow;
    color: aliceblue;
}

span {
    font-weight: bold;
}

#content {
    background-color: burlywood;
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 2px 1px 5px 1px black;
    border-radius: 4px;
    line-height: 1.15rem;
}

li {
    list-style-type: none;
}